@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/GothamBold.ttf')  format('truetype');
   font-weight: 700;
   font-style: normal;
 }

@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/GothamMedium.ttf')  format('truetype');
   font-weight: 400;
   font-style: normal;
 }

@font-face {
  font-family: 'Gotham';
   src: url('../assets/fonts/GothamLight.ttf')  format('truetype');
   font-weight: 300;
   font-style: normal;
 }

body {
   font-family: 'Gotham' !important;
 }
 a {
   color:#fbd243 !important;
 }
.border-bottom-transparent {
  border-bottom:1px solid #ffffff2e;
}
.border-bottom-grey {
  border-bottom:1px solid #eaeaea;
}
.text-grey {
  color:#b2b8bd !important;
}
.xsmall {
    font-size: 60%;
    font-weight: 400;
}
.tagline {
  color:#012566;
}
.gradient-bg {
background: #136fad; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #136fad 0%, #032d6c 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #136fad 0%,#032d6c 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #136fad 0%,#032d6c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#136fad', endColorstr='#032d6c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.star-color{
  color:#d89108;
}

.search ul {

}
.search li {
  display:none;
  background:#fff;
}
