@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/Gotham-Bold.ttf')  format('truetype');
   font-weight: 700;
   font-style: normal;
 }

@font-face {
  font-family: 'Gotham';
  src: url('../assets/fonts/GothamMedium.ttf')  format('truetype');
   font-weight: 400;
   font-style: normal;
 }

@font-face {
  font-family: 'Gotham';
   src: url('../assets/fonts/Gotham-Thin.ttf')  format('truetype');
   font-weight: 300;
   font-style: normal;
 }

body {
   font-family: 'Gotham' !important;
 }
 a {
   color:#fbd243 !important;
 }
.border-bottom-transparent {
  border-bottom:1px solid #ffffff2e;
}
.border-bottom-grey {
  border-bottom:1px solid #eaeaea;
}
.text-grey {
  color:#b2b8bd !important;
}
.xsmall {
    font-size: 60%;
    font-weight: 400;
}
.tagline {
  color:#012566;
}
.gradient-bg {
background: #136fad; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #136fad 0%, #032d6c 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #136fad 0%,#032d6c 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #136fad 0%,#032d6c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#136fad', endColorstr='#032d6c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.star-color{
  color:#d89108;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
